@charset 'utf-8';

.brand{ 
  font-family: 'Emblema One', cursive;
}

a.brand{ 
  text-decoration: none;
  color: #7a6e7e;
}

/* --------------------------------------------------
   footer
-------------------------------------------------- */
#container-footer{ 
  width: 100%;
  float: left;
  padding: 10px;
  border-top: 1px solid #E5E5E5;
  background-color: whiteSmoke;
}

#container-footer .wrap-social-plugins{ 
  width: 100%;
  float: left;
}

#container-footer .wrap-twitter-follow{ 
  width: 100%;
  float: left;
  padding-bottom: 10px;
}

#container-footer .upper,
#container-footer .lower{
  width: 100%;
  float: left;
  padding-bottom: 10px;
}

#container-footer .wrap-twitter-tweet,
#container-footer .wrap-gplus{ 
  margin-left: 10px;
}

#container-footer .copyright{ 
  width: 100%;
  float: left;
  text-align: right;
  border-top: solid 1px silver;
  padding-top: 5px;
}

/* --------------------------------------------------
   login
-------------------------------------------------- */
.wrap-login{ 
 color: gray;
}

.wrap-login .area-head{ 
  width: 100%;
  float: left;
  border-top: solid 1px #fefefe;
  border-bottom: solid 1px #d7d7d7;
  background: #f2eee6;
  padding-bottom: 20px;
}

.wrap-login .area-head header{ 
  width: 100%;
  float: left;
  text-align: center;
}

.wrap-login .area-head header .brand{ 
  letter-spacing: -1px;
}

.wrap-login .area-head header .brand a{ 
  text-decoration: none;
  color: #7a6e7e;
}

.wrap-login .area-head header h2{ 
  font-size: 95%;
  margin-top: -5px;
}

.wrap-login .area-main{ 
  width: 100%;
  float: left;
}

.wrap-login .area-main article{ 
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.wrap-login .area-main article:nth-child(1){ 
  margin-top: 40px;
}

.wrap-login .area-main article:nth-child(2){ 
  margin-top: 80px;
}

.wrap-login .area-main article h4{ 
  font-weight: bold;
  margin-bottom: 20px;
}

.wrap-login .area-main article .wrap-btn{ 
  margin-top: 20px;
}

.wrap-login .area-ad{ 
  text-align: center;
}
