*.rbc
*.sassc
.sass-cache
capybara-*.html
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/data.yaml
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
#*
*#
.#*
*~
wget-log
apply_ga_filter.html
secret.yml
/.vscode/*

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

.env

.DS_Store
development
