*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/data.yaml
/public/system/*
/public/assets/*
!/public/assets/*.png
!/public/assets/*.gif
!/public/assets/*.eot
!/public/assets/*.svg
!/public/assets/*.ttf
!/public/assets/*.woff
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
#*
*#
.#*
*~
wget-log
/config/database.yml
/config/config.yml
/config/unicorn.rb
start_unicorn.sh
apply_ga_filter.html
secret.yml
