Gemfile.lock
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/data.yaml
/db/schema.rb
/public/system/*
/public/assets/*
!/public/assets/bg-btn-blue.png
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
#*
*#
.#*
*~
wget-log
/config/database.yml
/config/config.yml
/config/unicorn.rb
start_unicorn.sh
apply_ga_filter.html
secret.yml