#wrap-import
  .wrap-upper
    h2
      | タイムラインを取り込む
    h4
      |  <a href="https://twitter.com/
      = @current_user.screen_name
      | " target="_blank"> 
      = image_tag("twitter-bird-light-bgs.png", width: 30)
      |  @
      = @current_user.screen_name
      | のツイートを
      button#start-import.btn.btn-success[data-loading-text="保存中..." data-complete-text="取得完了"]
        i.icon-random.icon-white
        |  取り込み開始
    p.msg[style="color:gray;font-size:70%;margin-top:10px"]
      | サーバーとデータのやりとりをします。
      br
      | 安定した通信環境下で実行して下さい :-)
    .wrap-loader[style="width:26px;margin:10px auto;"]
      = image_tag("ajax-loader.gif", class: "loader")
    - if @id_oldest != "false"
      .wrap-recover-msg
        p#recover-msg.alert.alert-info
          | 続きから取り込みます
    |  <input type="hidden" name="id-oldest" value="
    = @id_oldest
    | " /> <input type="hidden" name="count-so-far" value="
    = @count_so_far
    | " /> 
  .wrap-progress-bar[style="display:none;"]
    |  <input type="hidden" id="statuses-count" value="
    = @statuses_count
    | " /> 
    .progress.active
      .bar.progress-bar.progress-bar-info[style="width: 0%;height: 30px;"]
    .wrap-total
      p.total
  .wrap-lower
    .wrap-importing-status[style="display:none;"]
      .wrap-tweet
        .inner
          p.body
          p.date
        .triangle
      .wrap-profile-image
        .profile-image
          .viewport
            |  <a href="https://twitter.com/
            = @current_user.screen_name
            | ">
            = image_tag(@current_user.profile_image_url_https, alt: @current_user.screen_name)
  .ad
    = render "shared/adsense/sp/import/bottom"
