<div class="box browser">
  <header>
    <h1 class="brand">TwitJump</h1><span class="version">beta</span>
    <p class="catch">クリック一つであの日のつぶやきへ</p>
  </header>
  <!-- .lower -->
  <div class="lower">
    <div class="alert alert-success">
      <h2>ご不便をお掛けして申し訳ありませんが、TwitJumpは今お使いのブラウザに対応しておりません。<br>恐れ入りますが、下記いずれかのブラウザに変えてアクセスして頂けますよう、お願い申し上げます。</h2>
    </div>
    <div class="browsers">
      <ul>
	<li>
	  <a href="//www.google.co.jp/chrome/" target="_blank"><%= image_tag("chrome.png", width: 64, alt: "chrome") %></a>
	  <span class="link"><a href="//www.google.co.jp/chrome/" target="_blank">Chrome</a></span>
	</li>
	<li>
	  <a href="//www.mozilla.jp/firefox/" target="_blank"><%= image_tag("firefox.png", width: 64, alt: "firefox") %></a>
	  <span class="link"><a href="//www.mozilla.jp/firefox/" target="_blank">Firefox</a></span>
	</li>
	<li>
	  <a href="//windows.microsoft.com/ja-jp/internet-explorer/download-ie" target="_blank"><%= image_tag("ie.png", width: 64, alt: "ie") %></a>
	  <span class="link"><a href="//windows.microsoft.com/ja-jp/internet-explorer/download-ie" target="_blank">Internet Explorer 9以上</a></span>
	</li>
      </ul>
    </div>
  </div>
  <!-- /.lower -->
</div>
