<div id="wrap-delete-account">
  <!-- .area-header -->
  <div class="area-header">
    <h3><i class="icon-trash"></i>アカウントの削除</h3>
  </div>
  <!-- /.area-header -->
  <!-- .area-body -->
  <div class="area-body">
    <h4>以下のデータを削除します。</h4>
    <p><i class="icon-info-sign"></i>あなたのTwitterアカウント情報</p>
    <p><i class="icon-key"></i>あなたのTwitterアカウントへのアクセスキー</p>
    <p><i class="icon-comment"></i>保存した全てのあなたのツイート</p>
    <p><i class="icon-user"></i>フォローリスト</p>
  </div>
  <!-- /.area-body -->
  <!-- .area-footer -->
  <div class="area-footer">
    <div class="wrap-status">
      <p class="status">処理を取り消すことはできません。</p>
    </div>
    <a class="btn btn-default cancel-delete" href="/your/data">キャンセル</a>
    <button id="delete-account" class="btn btn-danger" data-loading-text="saying goodbye..." data-complete-text="削除完了" data-complete-text="エラー"><i class="icon-trash icon-white"></i>実行</button>
  </div>
  <!-- /.area-footer -->
</div>
<div class="ad">
  <%= render "shared/adsense/sp/delete_account/bottom" %>
</div>
