#wrap-delete-account
  .area-header
    h3
      i.icon-trash
      | アカウントの削除
  .area-body
    h4
      | 以下のデータを削除します。
    p
      i.icon-info-sign
      | あなたのTwitterアカウント情報
    p
      i.icon-key
      | あなたのTwitterアカウントへのアクセスキー
    p
      i.icon-comment
      | 保存した全てのあなたのツイート
    p
      i.icon-user
      | フォローリスト
  .area-footer
    .wrap-status
      p.status
        | 処理を取り消すことはできません。
    a.btn.btn-default.cancel-delete[href="/your/data"]
      | キャンセル
    button#delete-account.btn.btn-danger[data-loading-text="saying goodbye..." data-complete-text="エラー"]
      i.icon-trash.icon-white
      | 実行
.ad
  = render "shared/adsense/sp/delete_account/bottom"
