= content_for(:title){"クリックひとつで、過去のあの日のツイートへ"}
#wrap-login
  header.upper.caramel
    .brand
      h1.name
        | TwitJump
      span.version
        | beta
    .sub-title

  .lower.caramel
    .inner
      .left
        .remark
          h3
            | みんなのあの日のつぶやきも
          .description
            p
              | 人々がつぶやいた事を日付を指定して振り返る事ができます
            span.info.alert.alert-info
              | 現在の共有ツイート数 : 
              = number_with_delimiter(@total_status_num,:delimiter=>",")
        .wrap-btn-public
          a.link.btn.btn-primary[href="/public_timeline" data-loading-text="パブリックタイムラインを見てみる"]
            | パブリックタイムラインを見てみる
        script
          |  (function(){ $(".link.btn").click(function(){ $(this).button("loading"); }); })(); 
      .right
        .remark
          h3
            | あなたのあの日のつぶやきも
          .description
            p
              | サインインすれば、あなたやあなたがフォローしている人たちによる
              br
              span.lower-line
                |  タイムラインを振り返ることもできます
        .wrap-btn-auth
          a.link.btn-auth[href="/auth/twitter"]
            | Sign in with Twitter
        .readme
          a[href="#modal-how-data-are-treated" data-toggle="modal"]
            | ※ご利用に際して
= render "shared/modal_how_data_are_treated"
