<%= render "shared/dashbord" %>
<!-- #wrap-timeline-lower -->
<div id="wrap-timeline-lower">
  <!-- #wrap-main -->
  <div id="wrap-main">
    <%= render "shared/timeline" %>
  </div>
  <!-- /#wrap-main -->
  <%= render "shared/adsense/ads-timeline.html.erb" %>
</div>
<!-- /#wrap-timeline-lower -->
