#wrap-setting
  h1
    i.icon-hdd
    span
      | データ管理
  .wrap-profile
    .area-profile-image
      = image_tag(@current_user.profile_image_url_https.to_s.gsub(/_normal/,'_reasonably_small'), class: "profile-image-url-https", width:70)
    .area-center
      .area-names
        p.name
          = @current_user.name
        p
          | @
          span.screen-name
            = @current_user.screen_name
      .area-updated
        p
          | 最終更新 : 
          span.updated-date
            = @profile_updated_at
      .area-result
        span.alert
    .area-button
      button#update-profile.btn.btn-success[data-loading-text="読み込み中"]
        i.icon-refresh
        | 更新
  table.table
    tbody
      tr.tweets
        td.head
          | ツイート
        td.count
          span.total-num
            = @count_statuses
          | 件 
          span.additional-num
        td.last-update
          span.date
            = @status_updated_at
        td.button
          button#update-statuses.btn.btn-success[data-loading-text="読み込み中"]
            i.icon-refresh.icon-white
            | 更新
      tr.friends
        td.head
          | フォローリスト
        td.count
          span.total-num
            = @count_friends
          | 件 
          span.additional-num
        td.last-update
          span.date
            = @friend_updated_at
        td.button
          button#update-friends.btn.btn-success[data-loading-text="読み込み中"]
            i.icon-refresh.icon-white
            | 更新
  .wrap-delete-button
    button.btn.btn-danger[href="#modal-delete-account" data-toggle="modal"]
      i.icon-trash.icon-white
      | アカウントを削除する
= render "shared/modal_delete_account"
