<div class="wrap-one-result">
  <% statuses.each do |status| %>
    <% if status.is_retweet %>
      <%= render "shared/tweet_card_rt",{:status => status, :current_user => current_user} %>
    <% else %>
      <%= render "shared/tweet_card",{:status => status, :current_user => current_user} %>
    <% end %>
  <% end %>
  <% if oldest_timestamp %>
    <input type="hidden" class="oldest-timestamp" value="<%= oldest_timestamp %>"/>
  <% end %>
</div>
