#container-footer
  .wrap-social-plugins
    .wrap-twitter-follow
      a.twitter-follow-button[href="https://twitter.com/twit_jump" data-show-count="false" data-lang="ja"]
        | @twit_jumpさんをフォロー
    .upper
      .wrap-fb.pull-left
        |  <div class="fb-like" data-href="http://
        = request.host
        | " data-send="false" data-show-faces="false" data-layout="button_count">
    .wrap-twitter-tweet.pull-left
      = render "shared/twitter_share_button"
  .lower
    .wrap-hatena.pull-left
      a.hatena-bookmark-button[href="http://b.hatena.ne.jp/entry/" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"]
        = image_tag("http://b.st-hatena.com/images/entry-button/button-only.gif", alt: "このエントリーをはてなブックマークに追加", width: 20, height: 20, style: "border: none;")
      script[type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"]
    .wrap-gplus.pull-left
      .g-plusone[data-size="medium"]
      script[type="text/javascript"]
        |  window.___gcfg = {lang: 'ja'}; (function() { var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = 'https://apis.google.com/js/plusone.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s); })(); 
    .wrap-to-page-top.pull-right
      = render "shared/to_page_top"
p.copyright
  | <a class="brand" href="http://
  = request.host
  | ">TwitJump
  |  © 
  = Time.now.year
