header#container-header
  h1
    a.brand.pull-left[href="/"]
      | TwitJump
  - if logged_in?
    a.btn.btn-xs.drop-down.pull-right[href="#"]
      = image_tag(current_user.profile_image_url_https, class: "profile-img", width:30)
      i.icon-caret-down
    nav.drop-down-nav
      - if current_user.initialized_flag
        - if controller.action_name == "setting"
          a.btn.btn-default.btn-sm[href="/your/tweets"]
            i.icon-comment
            | タイムライン
        - else
          a.btn.btn-default.btn-sm.link-config[href="/your/data"]
            i.icon-hdd
            | データ管理
      a.btn.btn-default.btn-sm.link-logout[href="/logout"]
        i.icon-signout
        | ログアウト
  - else
    a.btn-auth.btn.btn-info.pull-right.btn-sm[href="/auth/twitter"]
      | 登録
