<!-- #container-header -->
<header id="container-header">
  <h1><a class="brand pull-left" href="/">Twitjump</a></h1>
  <% if logged_in? %>
    <a href="#" class="btn btn-xs drop-down pull-right">
      <img class="profile-img" width="30" src="<%= current_user.profile_image_url_https %>" />
      <i class="icon-caret-down"></i>
    </a>
    <nav class="drop-down-nav">
      <% if current_user.initialized_flag %>
	<% if controller.action_name == "setting" %>
	  <a class="btn btn-default btn-sm" href="/your/tweets"><i class="icon-comment"></i>タイムライン</a>
	<% else %>
	  <a class="btn btn-default btn-sm link-config" href="/your/data"><i class="icon-hdd"></i>データ管理</a>
	<% end %>
      <% end %>
      <a class="btn btn-default btn-sm link-logout" href="/logout"><i class="icon-signout"></i>ログアウト</a>
    </nav>
  <% else %>
    <a class="btn-auth btn btn-info pull-right btn-sm" href="/auth/twitter">登録</a>
  <% end %>
</header>
<!-- /#container-header -->
