#container-header
  header
    .navbar.navbar-fixed-top
      nav
        .navbar-inner
          .container
            a.brand[href="/"]
              | TwitJump
            - if logged_in?
              - if current_user.initialized_flag
                |  <ul id="link-timeline" class="nav page-nav pull-left" data-current-action-name="
                = controller.action_name
                | "> 
                li.public_timeline
                  a[href="/public_timeline"]
                    i.icon-globe.margin
                    | みんな
                li.home_timeline
                  a[href="/your/home_timeline"]
                    i.icon-group.margin
                    | 友達
                li.sent_tweets
                  a[href="/your/tweets"]
                    i.icon-user.margin
                    | あなた
              ul#link-twitter-profile.nav.pull-right
                li.twitter-profile
                  |  <a href="https://twitter.com/
                  = current_user.screen_name
                  | " target="_blank"> 
                  = image_tag(current_user.profile_image_url_https, width:20)
                  |  <a href="https://twitter.com/
                  = current_user.screen_name
                  | " target="_blank"> @
                  = current_user.screen_name
                li.dropbown
                  a.dropdown-toggle[href="#" data-toggle="dropdown"]
                    i.icon-caret-down
                  ul.dropdown-menu
                    - if current_user.initialized_flag
                      li
                        a.link-config[href="/your/data"]
                          i.icon-hdd
                          | データ管理
                      li.divider
                    li
                      a.link-logout[href="/logout"]
                        i.icon-signout
                        | ログアウト
            - else
              |  <ul id="link-timeline" class="nav page-nav pull-left" data-current-action-name="
              = controller.action_name
              | "> 
              li.public_timeline
                a[href="/public_timeline"]
                  i.icon-globe.margin
                  | みんな
              li.home_timeline.disabled
                a[href="#"]
                  i.icon-group.margin
                  | 友達
              li.sent_tweets.disabled
                a[href="#"]
                  i.icon-user.margin
                  | あなた
              ul#link-auth.nav.pull-right
                li
                  a.btn-auth[href="/auth/twitter"]
                    | Sign in with Twitter
