<!-- .error-inner -->
<div class="error-inner">
  <!-- .area-alert -->
  <div class="wrap area-alert">
    <div class="alert alert-warning not-found">
      <p><i class="icon-info-sign"></i> 友達のツイートがありません</p>
    </div>
    <h4>フォローリストが空です</h4>
    <!-- .invite-friends -->
    <div class="alert alert-info invite-friends">
      <p>もしあなたがTwitterで誰かをフォローしているにも関わらずこの画面が出たならば、<br/><a href="/your/data">設定画面</a>からフォローリストを更新してみてください。</p>
    </div>
    <!-- /.invite-friends -->
  </div>
  <!-- /.area-alert -->  
  <!-- .area-intent -->
  <div class="wrap area-intent">
    <%= render "shared/twitter_share_button" %>
  </div>
  <!-- /.area-intent -->
</div>
<!-- /.error-inner -->
