<!-- #wrap-read-more -->
<div id="wrap-read-more">
  <% if has_next %>
    <button id="read-more" data-loading-text="loading" data-complete-text="続きを読み込む" class="btn">続きを読み込む</button>
  <% else %>
    <div class="alert alert-info">
      <p>最後のつぶやきです</p>
    </div>
  <% end %>
</div>
<!-- /#wrap-read-more -->
