| <nav id="timeline-nav" data-current-action-name="
= controller.action_name
| "> 
a.btn.btn-default.btn-sm.public_timeline[href="/public_timeline"]
  i.icon-globe.margin
  | みんな
- if logged_in?
  a.btn.btn-default.btn-sm.home_timeline[href="/your/home_timeline"]
    i.icon-group.margin
    | 友達
  a.btn.btn-default.btn-sm.sent_tweets[href="/your/tweets"]
    i.icon-user.margin
    | あなた
- else
  a.btn.btn-default.btn-sm.home_timeline[disabled="disabled" href="/your/home_timeline"]
    i.icon-group.margin
    | 友達
  a.btn.btn-default.btn-sm.sent_tweets[disabled="disabled" href="/your/tweets"]
    i.icon-user.margin
    | あなた
