<% content_for :global_header do %>
  <%= render "shared/global_header",{ :current_user => @current_user} %>
<% end %>
<div class="sorry">

  <div class="alert alert-info">

    <h4 class="alert-heading"><i class="icon-lock"></i>Oops! あなたのTwitterアカウントには鍵がかかっているようです <i class="icon-lock"></i></h4>
    <p>TwitJumpはユーザーのツイートをユーザー間で共有することを前提にしています。</p>
    <p>プロテクト設定がオンになっている場合、アカウントを作ることができません。ごめんなさい。</p>

  </div>

</div>
