<!-- .adsense.timeline -->
<div class="adsense timeline">
  <%= render "shared/adsense/adsense336_1" %>
  <%= render "shared/adsense/adsense336_2" %>
  <%= render "shared/adsense/adsense336_3" %>
</div>
<!-- /.adsense.timeline -->
