.error-inner.error404
  .wrap.area-alert
    .alert.alert-warning.not-found
      h3
        i.icon-info-sign
        | 404 : Page Not Found :-(
    p
      | リクエストされたページが見つかりませんでした
      br
      = link_to "ホームへ", root_url
